<div
  class="relative flex h-screen w-[20%] flex-col rounded-xl bg-black bg-clip-border p-4 text-gray-700 shadow-xl shadow-blue-gray-900/5 sidebar-container"
>
  <div class="p-4 mb-2">
    <h5
      class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 nav-text"
    >
      Select your folder
    </h5>
  </div>
  <nav
    class="flex min-w-[240px] flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700"
  >
    <app-file-tree [fileTree]="initialFileTree"></app-file-tree>
  </nav>
</div>
